// Here you can find all the default antd variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@heading-color: #fff;
@primary-color: #0072dd;
@primary-color-hover: #0085ff;
@primary-1: @primary-color;
@component-background: #2d2c3e;
@primary-light-color: rgba(1, 80, 154, 0.05);
@text-color: #ffffff;
@text-color-secondary: #a9a9a9;

@item-hover-bg: #1c2137;

@background-color-light: @primary-light-color;
@background-color-base: #1c2137;

// Disabled states
@disabled-color: #7e7e7e;
@disabled-bg: #1c2137;

@font-family: 'Montserrat', sans-serif;
@font-size-base: 16px;
@font-size-sm: @font-size-base - 2px;

@height-sm: 32px;
@height-base: 50px;
@height-lg: 64px;

@border-radius-base: 7px;
@border-color-base: #a9a9a9;

// Media queries
@screen-xs: 360px;
@screen-xl: 1280px;

// Layout
@layout-body-background: #1c2137;
@layout-header-height: 4.25rem;
@layout-header-padding: 1rem;
@layout-header-background: linear-gradient(0deg, #2d2b47, #2d2b47);
@layout-sider-background: linear-gradient(197.79deg, #2c2c36 -7.21%, #312f43 34.7%);

// Alert
@alert-info-bg-color: #dfefff;

// Card
@card-head-color: @text-color;
@card-head-padding: 20px;
@card-head-padding-sm: 15px;
@card-head-font-size: 18px;
@card-head-font-size-sm: @font-size-base;
@card-padding-base: 20px;
@card-padding-base-sm: 15px;

// Table
@table-border-radius-base: 0;

// Tag
@tag-font-size: @font-size-sm;

// Button
@btn-font-weight: 600;

@btn-ghost-color: @primary-color;
@btn-ghost-border: @primary-color;

// Select
@select-item-selected-font-weight: 500;

// Rate
@rate-star-color: #ffc24b;
@rate-star-size: 8px;

// Form
@form-item-margin-bottom: 16px;
@form-item-label-font-size: @font-size-sm;

// Select
@select-single-item-height-lg: @height-lg;

// Menu
@menu-inline-toplevel-item-height: @height-base;
@menu-item-height: @height-base;
@menu-icon-margin-right: 1rem;
@menu-icon-size: 1.25rem;

// Tooltip
@tooltip-bg: @component-background;

// Popconfirm
@zindex-popover: 2000;
@zindex-notification: 9999;

// Table
@table-border-color: #b3cbe1;

// Tooltip
@tooltip-color: @text-color;

// Input
@input-placeholder-color: rgba(255, 255, 255, 0.5);

// Avatar
@avatar-bg: #1c2137;

// Alert
@alert-text-color: #000;
