// Here you can find all the default antd variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@component-bg: #fff;
@heading-color: #000;
@primary-color: #088a98;
@primary-light-color: #eef7f8;
@text-color: #404040;

@font-family: 'Montserrat', sans-serif;
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: @font-size-base - 2px;

@border-radius-base: 7px;

@item-hover-bg: @primary-light-color;

// Layout
@layout-header-background: @primary-color;
@layout-header-height: 48px;
@layout-header-padding: 0 16px;

// Card
@card-head-color: @primary-color;
@card-head-padding: 13px;
@card-padding-base: 20px;

// Dropdown
@dropdown-font-size: @font-size-sm;

// Table
@table-header-bg: @component-bg;
@table-row-hover-bg: @primary-light-color;
@table-padding-vertical: 10px;
@table-padding-horizontal: 10px;

// Button
@btn-font-weight: 500;

// Select
@select-item-selected-font-weight: 500;
