// Here you can find all the default antd variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@border-radius-base: 7px;

@height-base: 40px;

@primary-color: #088a98;
@text-color: #404040;

@font-family: 'Montserrat', sans-serif;
@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: @font-size-base - 2px;

// Layout
@layout-header-background: @primary-color;
@layout-header-height: 48px;
@layout-header-padding: 0 1rem;

// Card
@card-head-color: @primary-color;
@card-head-padding: 0.875rem;
@card-padding-base: 0.875rem;

// Dropdown
@dropdown-font-size: @font-size-sm;
