// Here you can find all the default antd variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #0059ab;
@white: #fff;
@black: #000;

@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

// Layout
@layout-header-background: @primary-color;
@layout-header-height: 48px;
@layout-header-padding: 0 1rem;

// Card
@card-head-color: @primary-color;
@card-head-font-size: @font-size-sm;
@card-head-font-size-sm: @font-size-sm - 2px;
@card-head-padding: 1.25rem;
@card-padding-base: 1.25rem;
@card-radius: 0.4rem;
